@using InternetShop.DataLayer.Entities
@using InternetShop.WebUI.Models
@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["error-message"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>@TempData["error-message"]
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-primary">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            Новый товар
        </h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new {enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ProductId)
            <div class="form-group">
                @Html.LabelFor(m => m.Type, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Type, new { @class = "combobox form-control" })
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Year, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                    </div>
                    <!-- Audio -->
                    <div id="audio-parameters" class="hidden">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Perfomer, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Perfomer, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MusicalDirection, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.MusicalDirection, new { @class = "form-control" })
                        </div>
                    </div>
                    <!-- Video -->
                    <div id="video-parameters" class="hidden">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Director, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Genre, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img id="image" style="width: 270px; height: 240px" src="@Url.Content("~/Content/img/no_image.png")" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input id="input-image" name="NewImage" type="file" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
                <div class="panel-footer">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                    @Html.ActionLink("Отменить", "ProductList", null, new { @class = "btn btn-default" })
                </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/dropDownListControl.js")
    @Scripts.Render("~/Scripts/image-reader.js")
}
