@model InternetShop.WebUI.Models.AccountModels.UserViewModel

@{
    ViewBag.Title = "Админ панель : Создание товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["error-message"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only"></span>@TempData["error-message"]
        <hr />
        @Html.ValidationSummary();
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-primary">
            <span class="glyphicon glyphicon-edit"></span>
            &nbsp;Изменение пользователя
        </h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.PasswordHash)
            <input name="Password" value="no_password_changing" type="hidden"/>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            </div>
            <div class="panel-footer">
                <input type="submit" value="Изменить" class="btn btn-primary" />
                @Html.ActionLink("Отменить", "UserList", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>