@using InternetShop.DataLayer.Entities
@using InternetShop.WebUI.Models
@model ProductViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title text-primary">
        <span class="glyphicon glyphicon-question-sign"></span>
        &nbsp;Информация о товаре
    </h3>
</div>
<div class="modal-body">
    <div class="label label-info">@Model.Type.ToString()</div>
    <div class="row">
        <div class="col-sm-5">
            <table class="table table-striped">
                <tr>
                    <td>@Html.LabelFor(m => m.Name, new { @class = "control-label" })</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Price, new { @class = "control-label" })</td>
                    <td>@Model.Price.ToString("# руб")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Year, new { @class = "control-label" })</td>
                    <td>@Model.Year</td>
                </tr>
               
                    @if (Model.Type == ProductType.Audio)
                    {
                        <tr>
                            <td>@Html.LabelFor(m => m.Perfomer, new {@class = "control-label"})</td>
                            <td>@Model.Perfomer</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.MusicalDirection, new { @class = "control-label" })</td>
                            <td>@Model.MusicalDirection</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.LabelFor(m => m.Director, new {@class = "control-label"})</td>
                            <td>@Model.Director</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Genre, new { @class = "control-label" })</td>
                            <td>@Model.Genre</td>
                        </tr>
                    }
                        
            </table>
        </div>
        <div class="col-sm-7">
            @if (@Model.ImageData != null)
            {
                <img id="image" src="@Url.Action("GetImage", new {productId = Model.ProductId})" class="img-responsive pull-right"/>
            }
            else
            {
                <img id="image" src="@Url.Content("~/Content/img/no_image.png")" />
            }
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Описание товара</div>
        <p class="panel-body">@Model.Description</p>
    </div>
</div>
<div class="modal-footer">
    <a href="@Url.Action("AddToCart", new {productId = Model.ProductId})" class="btn btn-success">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        &nbsp;В корзину
    </a>
</div>
