@using InternetShop.WebUI.Models
@using InternetShop.WebUI.HtmlHelpers
@model ProductListViewModel

@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidemenu
{
    @Html.ActionLink("Админмод", "ProductList", "Admin")
}

<div class="row">
    
        @foreach (var p in @Model.Products)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/img/200x200.jpg" alt="Скоро!" class="img-thumbnail"/>
                    <div class="caption">
                        <h3>@p.Name</h3>
                        <p>
                            <a href="#" class="btn btn-info" role="button"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Подробе</a>
                            <a href="@Url.Action("AddToCart", new {productId = p.ProductId})" class="btn btn-default" role="button">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                &nbsp;В корзину
                            </a>
                        </p>
                        <p><span class="pull-right label label-primary">@p.Price.ToString("# руб")</span></p>
                        <p>@p.Description</p>
                    </div>
                </div>
            </div>
        }
</div>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>
@Scripts.Render("~/Scripts/content-list.js");
