@model InternetShop.WebUI.Models.OrderModels.OrderInfoModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title text-primary">
        <span class="glyphicon glyphicon-question-sign"></span>
        &nbsp;Информация о заказе
    </h3>
</div>
<div class="modal-body">
    <table class="table table-striped text-center">
        <tr>
            <td>@Html.Label("Идентификтаро заказа", new {@class = "control-label"})</td>
            <td>@Model.OrderId</td>
        </tr>
        <tr>
            <td>@Html.Label("Заказчик:", new {@class = "control-label"})</td>
            <td>@Model.UserName @Model.UserSurname</td>
        </tr>
        <tr>
            <td>@Html.Label("Дата заказа:", new {@class = "control-label"})</td>
            <td>@Model.Date</td>
        </tr>
        <tr>
            <td>@Html.Label("Общая стоимость заказ", new {@class = "control-label"})</td>
            <td>@Model.TotalPrice.ToString("# руб.")</td>
        </tr>
    </table>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span>
            &nbsp; Перечень товаров
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered text-center">
                <tr>
                    <th class="text-center">Название продукта</th>
                    <th class="text-center">Количество</th>
                </tr>
                @foreach (var orderedProduct in Model.OrderedProducts)
                {
                    <tr>
                        <td>@orderedProduct.Product.Name</td>
                        <td>@orderedProduct.Amount</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
    
